<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH VUE</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favico/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favico/site.webmanifest">
</head>
<body>

    <div id="search" @click="showViewed = false">
        

        <a  class="viewed-btn btn-floating waves-effect" @click.stop="showViewed = !showViewed">
            <i class="material-icons">turned_in_not</i>
        </a>
        
        <div class="viewed-menu " v-show=showViewed @click.stop="" >
            <ul>
                <li v-for="film in viewedFilms">
                    <span>{{film.title}}</span>
                    <a class="btn btn-small" @click.stop="deleteFilm(film)">Удалить</a>
                </li>
                
            </ul>
        </div>



        <h5>{{header}} </h5>

        
     
        <div id="search-console">
            
            <input type="text" id="search-input" style="color: #595959" v-model.trim="request" @focus="request=''">
            
        </div>

        <div class="film-card" v-for="film in filteredFilms" >
            <p>{{film.title}}</p>
            <a  class="btn waves-effect" @click.stop="addFilmToViewed(film)">Добавить в закладки</a>
        </div>


    </div>

   


    <script src="https://unpkg.com/vue"></script>

    <script>
        let initheader="Введите запрос";
        let vm = new Vue({
           el:"#search",
           data:{
               
               request:initheader,
               films:[],
               showViewed:false,
               viewedFilms:[]                   
           },
           computed:{
               header(){               
                return this.request === "" || this.request === initheader ? "Ничего не ищем" : 'Идет поиск: '+ this.request;
               },
               filteredFilms(){
                   if(this.request !== initheader){
                   return this.films.filter( el => el.title.toLowerCase().includes(this.request.toLowerCase()) );
                   } else {
                       return this.films;
                }

               }
               },

               methods: {
                addFilmToViewed(film){
                    if ( !this.viewedFilms.find( el => el.title === film.title) ){
                        this.viewedFilms.push(film);
                    }
                    this.showViewed = true;

                    setTimeout( () => {
                        this.showViewed = false;
                    }, 500)
                },
                deleteFilm({title}){
                    this.viewedFilms = this.viewedFilms.filter( el => el.title !== title);
                }
            },
           
           async mounted(){
                this.films = await fetch("https://swapi.dev/api/films/").then(res => res.json()).then(data => data.results);
           }
        
        })
    </script>

</body>
</html>